// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer


.back
  background-image radial-gradient(center,#00ccff,#5977A5)




