// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

h1 {font-size: 64px;
color: white;}
.a {background-color: black;}
.b {color: green;}
.c {color: white;}
.ca {font-size: 36px;}