doctype html

html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Global Warming !

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body


<<<<<<< HEAD
      section
        h2 Global Warming !
		h2.bullet
		ul    
			li Dewi Nadya Skar Larasati - 13.111.1157
			li Kartika Aulia - 13.111.3395
			li Anggun Syahfitri - 13.111.1238
			li Muhammad Sidiq Al Amin - 13.111.1939
      
	  section
        h2 create by
        h3 Ge_String

      section
<<<<<<< HEAD
        h2.bullet Penyebab pemanasan global
        ul
          li 1. Efek rumah kaca
          li 2. efek umpan balik
		  li 3. Variasi
		  li 4. Polusi
=======
        h2 Dampak dari pemanasan global
=======
		ul 
			li 1. tidak stabilnya iklim
			li 2. naiknya debit air laut
			li 3. peningkatan suhu
			li 5. dampak sosial dan politik
>>>>>>> dc871e7b75e51ae682b3d7c9af0e31e480f6d581

        section
        h2 Cara Pengembalian pemanasan global
        ul
			li 1. kurangi konsumsi dari alat elektronik yang dapat merusak lapisan ozon bumi.
			li 2. Perbanyak reboisasi dan penanaman tumbuhan hijau
			li 3. Kurangi penggunaan dari kendaraan bermotor
			li 4. kurangi pembuangan sampah secara sembarang
			li 5. pisahkan mana sampah organik dan anorganik
      
=======


    script(src='build/build.js')
