doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.a

      section.a
        h1 Global Warming !

      section.a
        h2 Yaitu proses dimana suhu bumi meningkat sehingga lapisan ozon mulai berubah drastis.

      section.a
        h2.bullet Penyebab dari pemanasan global
        ul
          li 1. Efek Rumah Kaca
          li 2. efek umpan balik
          li 3. peningkatan suhu
          li 4. dampak sosial dan politik



      section.a
        h2 Mari kembalikan bumi seperti sebelumnya !
        

      section.a
        .bullet
        ul
          li 1. kurangi konsumsi dari alat elektronik yang dapat merusak lapisan ozon bumi.
          li 2. Perbanyak reboisasi dan penanaman tumbuhan hijau
          li 3. Kurangi penggunaan dari kendaraan bermotor
          li 4. kurangi pembuangan sampah secara sembarang
          li 5. pisahkan mana sampah organik dan anorganik

      section.a
        h2.bullet Go Green !
        br
        ul
          li Ge_String
          br
          li Kartika Aulia - 13.111.3395
          li Dewi Nadya Skar Larasati - 13.111.
          li Anggun Syahfitri - 13.111.1238
          li Muhammad Sidiq Al Amin - 13.111.1939
        br
        ul
          li TI-B Pagi
          li TKPPL

    script(src='build/build.js')